  <div class="pagescontainer">
  <h1 id = "border-gradient" data-subtitle="-コワーキングスペース情報サイト-">CoworkingSpace<span class="italic">'s</span></h1>
 
      <button type="button" name="button" class ="btn btn-primary"><%= link_to '新規登録', new_user_registration_path%></button>
      <button type="button" name="button" class ="btn btn-primary"><%= link_to 'ログイン', new_user_session_path%></button>
      
  <div>
    <p id ="img"><%= link_to image_tag('top.gif'), new_user_session_path , class: :topimage%></p>
  </div>
  </div>
