// Place all the styles related to the WorkPlaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// entire css

.user_nav {
  text-align: right;
  margin: 10px;
}

.btn > a {
  color: white;
  text-decoration: none;
}

// index css
.index_container {
  width: 100%;
  display: flex;
  // flex-wrap: wrap;
  flex-flow: wrap row;
  margin: 0 auto;
  justify-content: space-between;
}

.index_stores {
  height: 200px;
  width: 45%;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.index_id {
  float: left;
}
.index_name {
  width: 100%;
  letter-spacing: 0.1rem;
}

.index_region_links {
  list-style: none;
  display: flex;
  flex: wrap;
  padding: 5px 10px;
}
.index_region {
  text-align: left;
  width: 100%;
  letter-spacing: 0.1rem;
  padding-right: 10px;
}
.index_links {
  text-align: left;
}
.index_pagenation {
  text-align: center;
}


// show css
.show_section {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to left, #ff5858, #f09819);
  border-radius: 5px;
  padding:20px;
}

.show_inlineblock {
  display: flex;
  color: var(--main-font-color2);
}

.show_ids {
  display: inline-block;
  padding-bottom: 3.5rem;
  padding-right: 1rem;
  line-height: 3rem;
  font-size: 4rem;
  font-weight: bold;
  vertical-align: top;
  border-right: 1px solid var(--main-font-color);
}
.show_name_region {
  width:70%;
  display: block;
  height: 100%;
  padding-left: 1.375rem;
  padding: 0;
  font-size: 1.5rem;
}
.show_name {
  font-size: 1.75rem;
  padding: 10px;
  margin: 0 10px;
  width: 100%;
  letter-spacing: 0.1rem;
}
.show_region {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
  margin: 0 10px;
}
.show_photo {
  width: 200px;

}

.show_name_detail {
  width: 80%;
  background-color: var(--main-bg-color);
  margin: 0 auto;
  border-radius: 5px;
  padding: 0 10px 20px;
}

.show_name2 {
padding: 10px;
}
.show_ul {
  list-style: none;
  text-align: left;
}
.show_link {
  color: black;
  font-style: bold;
}

.show_link:hover {
  cursor: pointer;
  color: orange;
  opacity: 0.8;
}

.top, .form_actions{
  margin: 20px auto;
  padding: 5px 20px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border: 1.5px solid white;
  border-radius: 10px;
  background: linear-gradient(to right, #ff5858, #f09819);
}

.top:hover {
  pointer: cursor;
  opacity: 0.8;
}

.top > a {
  text-decoration: none;
  color:  white;
}



//form2_CSS
.form_actions{
  margin: 30px auto;
  text-align:center;
}

.form2_content {
  
}

.content_label {
  padding-top: 20px;
  border-top: 2px solid black;
  color:  white;
}

.content_area {
  width: 80%;
  height: 120px;
}


.form_actions:hover {
  pointer: cursor;
  opacity: 0.8;
}

// Comment　CSS
.comment_created_at {
  padding: 20px 10px 5px;  
  text-align: right;
  color: white;
}

.comment_inline {
  display: flex;
  justify-content: left;
}

.comment_id {
  padding: 5px;
  border-radius: 20px;
  border: 3px solid #555;
  min-width: 120px;
  background: #fff;
  float: left;
}

.comment_content {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: 3px solid #555;
  box-sizing: border-box;
  border-radius: 10px;
}

.comment_content:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.comment_content:after  {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

.comment_content p {
  margin: 0;
  padding: 0;
}